.jimrobain {
    background-color: black;
    overflow-x: hidden;
}


/* เปลี่ยนสีFont */

* {
    color: rgb(255, 255, 255);
}

.container-fluid {
    background-color: black;
    position: relative;
}

#varY {
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 0;
    background: #fffc;
    z-index: 4;
}


/* respondsive */

@media (min-width: 375px) {
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 15vh;
        left: 10vh;
    }
    .receipt {
        margin-top: 20vh;
        top: 5vh;
    }
    #condi-1 {
        top: 70vw;
    }
    #condi-2 {
        top: 200vw;
    }
    #condi-3 {
        top: 330vw;
    }
    .fullwidth {
        width: 350px;
    }
    .bagwidth {
        width: 60vw;
    }
    .kapuwidth {
        width: 30vw;
    }
    .yentafowidth {
        width: 30vw;
    }
    .riecewidth {
        width: 10vw;
    }
    .yentafo {
        position: absolute;
        top: 25px;
        right: 12vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: -30vw;
        width: 40vw;
    }
    .rice {
        position: absolute;
        top: 70px;
        right: -15%;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 60vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #textinfo_r_1 {
        font-size: 4vw;
    }
    #widht_plastic {
        width: 70px;
    }
    #condi-but {
        top: 1vh;
        left: 1vh;
    }
}

@media (max-width: 375px) {
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 15vh;
        left: 10vh;
    }
    .receipt {
        margin-top: 20vh;
        top: 5vh;
    }
    #condi-1 {
        top: 70vw;
    }
    #condi-2 {
        top: 200vw;
    }
    #condi-3 {
        top: 330vw;
    }
    .fullwidth {
        width: 350px;
    }
    .bagwidth {
        width: 60vw;
    }
    .kapuwidth {
        width: 30vw;
    }
    .yentafowidth {
        width: 30vw;
    }
    .riecewidth {
        width: 10vw;
    }
    .yentafo {
        position: absolute;
        top: 25px;
        right: 20vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: -30vw;
        width: 40vw;
    }
    .rice {
        position: absolute;
        top: 18vw;
        right: 5vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 60vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #textinfo_r_1 {
        font-size: 4vw;
    }
    #widht_plastic {
        width: 70px;
    }
}

@media (min-width: 576px) {
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 10vh;
    }
    .receipt {
        width: 50vw;
        top: 5vh;
    }
    #condi-1 {
        top: 50vw;
    }
    #condi-2 {
        top: 100vw;
    }
    #condi-3 {
        top: 150vw;
    }
    .fullwidth {
        width: 400px;
    }
    .bagwidth {
        width: 50vw;
    }
    .kapuwidth {
        width: 30vw;
    }
    .yentafowidth {
        width: 30vw;
    }
    .riecewidth {
        width: 10vw;
    }
    .yentafo {
        position: absolute;
        top: 50px;
        right: 5vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: -40vw;
        width: 40vw;
    }
    .rice {
        position: absolute;
        top: 100px;
        right: -10vw;
        width: 35vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 70vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        width: 60px;
    }
    /* จอร์ช */
    .main-but {
        font-size: 36px;
        text-align: center;
    }
    .sec-but {
        font-size: 30px;
        text-align: center;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .logo {
        margin-top: 2vw;
    }
    .logoimg {
        width: 5570vh;
    }
    .receipt {
        width: 30vw;
        top: 5vh;
    }
    #condi-1 {
        top: 20vw;
    }
    #condi-2 {
        top: 60vw;
    }
    #condi-3 {
        top: 90vw;
    }
    .fullwidth {
        width: 400px;
    }
    .bagwidth {
        width: 50vw;
    }
    .kapuwidth {
        width: 30vw;
    }
    .yentafowidth {
        width: 30vw;
    }
    .riecewidth {
        width: 10vw;
    }
    .yentafo {
        position: absolute;
        top: 5vw;
        right: -3vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 50px;
        right: -50vw;
        width: 40vw;
        /* object-fit: none;
                    object-position: 100% 0; */
    }
    .rice {
        position: absolute;
        top: 15vw;
        right: -15vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 90vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        width: 70px;
    }
    /* จอร์ช */
    .main-but {
        font-size: 36px;
        text-align: center;
    }
    .sec-but {
        font-size: 30px;
        text-align: center;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 90vh;
        /* background-color: rgb(0, 26, 255); */
    }
}

.logo {
    margin-top: 2vw;
}

.big-receipt {
    height: 300vh;
    position: relative;
    /* background-color: blue; */
}

.receipt {
    position: sticky;
    height: 120vh;
    /* width: 30vw; */
    /* background-color: blanchedalmond; */
}

#condi-1 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    background-color: red;
    position: absolute;
    z-index: 2;
}

#condi-2 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    background-color: brown;
    position: absolute;
    z-index: 2;
}

#condi-3 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    background-color: rgb(0, 255, 21);
    position: absolute;
    z-index: 2;
}

#RC-1 {
    display: none;
}

#RC-2 {
    display: none;
}

#RC-3 {
    display: none;
}

#RC-4 {
    display: none;
}

.modal-backdrop {
    opacity: 0.7 !important;
}

#plusbtn1 {
    position: absolute;
    top: 0;
    right: 5vw;
    background: transparent;
    border: none;
    opacity: 0;
    transition: 0.5s;
}

#plusbtn1:hover {
    transform: scale(1.2);
}

.big-receipt[data-scene="1"] #RC-1 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="2"] #RC-2 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="3"] #RC-3 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="4"] #RC-4 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="4"] #plusbtn1 {
    opacity: 1;
}

.bigbag {
    position: relative;
}

.bag {
    position: absolute;
    width: 50vw;
    transition: all 0.5s;
    left: 25vw;
    z-index: 2;
}

#bagglass {
    left: 0%;
}

#bagglass[data-scene="1"] .bag {
    left: -80vw;
    transform: rotate(180deg);
}

.info1 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    left: 120%;
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
}

.info2 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    left: 120%;
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
}

.info3 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    left: 120%;
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
}

#infoimg {
    width: 40vw;
}

#infoimg2 {
    width: 20vw;
}

#infoimg3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimg4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimg5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimg6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg7 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg8 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg9 {
    width: 12vw;
    margin-top: 3vw;
}

#textinfo_r_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_r_2 {
    position: absolute;
    top: 50vw;
    font-size: 2vw;
}

#textinfo_r_3 {
    position: absolute;
    top: 76vw;
}

#textinfo_r_4 {
    position: absolute;
    top: 98vw;
}

#textinfo_r_5 {
    position: absolute;
    top: 127vw;
}

#textinfo_r_6 {
    position: absolute;
    top: 154vw;
}

#textinfo_r_7 {
    position: absolute;
    top: 176vw;
}

#textinfo_r_8 {
    position: absolute;
    top: 198vw;
}

#textinfo_r_9 {
    position: absolute;
    top: 213vw;
}


/*  */

#infoimgy {
    width: 40vw;
}

#infoimgy2 {
    width: 20vw;
}

#infoimgy3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgy4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgy5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimgy6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy7 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy8 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy9 {
    width: 12vw;
    margin-top: 3vw;
}

#textinfo_y_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_y_2 {
    position: absolute;
    top: 47vw;
}

#textinfo_y_3 {
    position: absolute;
    top: 70vw;
}

#textinfo_y_4 {
    position: absolute;
    top: 94vw;
}

#textinfo_y_5 {
    position: absolute;
    top: 115vw;
}

#textinfo_y_6 {
    position: absolute;
    top: 134vw;
}

#textinfo_y_7 {
    position: absolute;
    top: 153vw;
}

#textinfo_y_8 {
    position: absolute;
    top: 170vw;
}

#textinfo_y_9 {
    position: absolute;
    top: 213vw;
}


/*  */


/*  */

#infoimgk {
    width: 40vw;
}

#infoimgk2 {
    width: 20vw;
}

#infoimgk3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgk4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgk5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimgk6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgyk7 {
    width: 15vw;
    margin-top: 3vw;
}

#textinfo_k_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_k_2 {
    position: absolute;
    top: 60vw;
}

#textinfo_k_3 {
    position: absolute;
    top: 98vw;
}

#textinfo_k_4 {
    position: absolute;
    top: 127vw;
}

#textinfo_k_5 {
    position: absolute;
    top: 154vw;
}

#textinfo_k_6 {
    position: absolute;
    top: 176vw;
}

#textinfo_k_7 {
    position: absolute;
    top: 192vw;
}


/*  */

#back_but_R {
    margin-top: 2vh;
    width: 3vw;
}

.menufood {
    padding: 0%;
}

.menufood[data-show="kapu"] .detail_kapu {
    left: 0%;
}

.menufood[data-show="yentafo"] .detail_yentafo {
    left: 0%;
}

.menufood[data-show="ricechicken"] .info1 {
    left: 0%;
}

.menufood[data-show="yentafo"] .info2 {
    left: 0%;
}

.menufood[data-show="kapu"] .info3 {
    left: 0%;
}

.size_img_food {
    width: 35vw;
}

.sizetextinfo {
    font-size: 2vw;
}

#receipt_again {
    width: 25vw;
    margin-top: 25vh;
}

.big_plastic {
    height: 300vh;
    /* background-color: blue; */
    position: relative;
}

.plastic {
    height: 100vh;
    /* background-color: brown; */
    z-index: 2;
    width: 100%;
    position: sticky;
    top: 10vh;
}

.psall[data-scene="0"] #ps-1 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-2 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-7 {
    opacity: 0;
}


/* กัน */

.psall[data-scene="1"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="1"] #ps-2 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-8 {
    display: none;
}

.psall[data-scene="1"] #ps-4-1 {
    display: none;
}

.psall[data-scene="1"] #ps-5-1 {
    display: none;
}

.psall[data-scene="1"] #ps-6-1 {
    display: none;
}

.psall[data-scene="1"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="2"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="2"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="2"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-8 {
    display: none;
}

.psall[data-scene="2"] #ps-4-1 {
    display: none;
}

.psall[data-scene="2"] #ps-5-1 {
    display: none;
}

.psall[data-scene="2"] #ps-6-1 {
    display: none;
}

.psall[data-scene="2"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="3"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-8 {
    display: none;
}

.psall[data-scene="3"] #ps-4-1 {
    display: none;
}

.psall[data-scene="3"] #ps-5-1 {
    display: none;
}

.psall[data-scene="3"] #ps-6-1 {
    display: none;
}

.psall[data-scene="3"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="4"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-8 {
    display: none;
}

.psall[data-scene="4"] #ps-4-1 {
    display: none;
}

.psall[data-scene="4"] #ps-5-1 {
    display: none;
}

.psall[data-scene="4"] #ps-6-1 {
    display: none;
}

.psall[data-scene="4"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="5"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="5"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="5"] #ps-8 {
    display: none;
}

.psall[data-scene="5"] #ps-4-1 {
    display: none;
}

.psall[data-scene="5"] #ps-5-1 {
    display: none;
}

.psall[data-scene="5"] #ps-6-1 {
    display: none;
}

.psall[data-scene="5"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="6"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-6 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="6"] #ps-8 {
    display: none;
}

.psall[data-scene="6"] #ps-4-1 {
    display: none;
}

.psall[data-scene="6"] #ps-5-1 {
    display: none;
}

.psall[data-scene="6"] #ps-6-1 {
    display: none;
}

.psall[data-scene="6"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="7"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-6 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-7 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-8 {
    display: none;
}

.psall[data-scene="7"] #ps-4-1 {
    display: none;
}

.psall[data-scene="7"] #ps-5-1 {
    display: none;
}

.psall[data-scene="7"] #ps-6-1 {
    display: none;
}

.psall[data-scene="7"] #ps-7-1 {
    display: none;
}


/*  */

.psall[data-scene="8"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-4 {
    display: none;
}

.psall[data-scene="8"] #ps-5 {
    display: none;
}

.psall[data-scene="8"] #ps-6 {
    display: none;
}

.psall[data-scene="8"] #ps-7 {
    display: none;
}

.psall[data-scene="8"] #ps-8 {
    display: flex;
}

.psall[data-scene="8"] #ps-4-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-5-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-6-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-7-1 {
    display: flex;
}

#condip_1 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(0, 255, 21); */
    position: absolute;
    z-index: 3;
    top: 30vh;
}

#condip-2 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 196, 0); */
    position: absolute;
    z-index: 3;
    top: 60vh;
}

#condip-3 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 232, 155); */
    position: absolute;
    z-index: 3;
    top: 90vh;
}

#condip-4 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(155, 218, 255); */
    position: absolute;
    z-index: 3;
    top: 120vh;
}

#condip-5 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 0, 0); */
    position: absolute;
    z-index: 3;
    top: 150vh;
}

#condip-6 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(90, 6, 45); */
    position: absolute;
    z-index: 3;
    top: 180vh;
}

#condip-7 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(178, 61, 255); */
    position: absolute;
    z-index: 3;
    top: 210vh;
}

#condip-8 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 240vh;
}

#condip-9 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 270vh;
}

#condip-10 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 300vh;
}

#condip-11 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 330vh;
}


/* .foodinfo{} */

.isyentafo {
    overflow-y: hidden;
}

hr.new2 {
    margin-top: 1vh;
    border-top: 4px dotted black;
}


/* จอร์ชช */

.rpbg[data-scene="0"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 0;
}

.rpbg[data-scene="1"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 1;
}

#condi-but {
    width: 60px;
    height: 60px;
    top: 80vh;
    left: 20vh;
    background-color: red;
    position: absolute;
}

.rpbg {
    width: 100%;
    height: 100%;
    background-image: url("IMG/image-from-rawpixel-id-2319444-jpeg 2.png");
    position: relative;
    background-repeat: no-repeat;
}

.receipt_notenought {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-but {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    text-shadow: 3px 3px 10px white;
    color: #FF0000;
    position: absolute;
    padding-top: 10%;
    opacity: 0;
}

.main-but {
    font-size: 288px;
    text-align: center;
}

.sec-but {
    font-size: 96px;
    text-align: center;
}


/* footer */