.jimrobain {
     background-color: black;
     overflow-x: hidden;
 }
 /* เปลี่ยนสีFont */
 
 * {
     color: white;
 }
 
 .container-fluid {
     background-color: black;
     position: relative;
 }
 
 #varY {
     font-size: 3em;
     position: fixed;
     top: 0;
     left: 0;
     background: #fffc;
     z-index: 2;
 }
 /* respondsive */
 
 @media (min-width: 375px) {
     body {
         overflow-x: hidden!important;
     }
     .logo {
         margin-top: 6vw;
     }
     .logoimg {
         width: 15vh;
         left: 10vh;
     }
     .receipt {
         margin-top: 20vh;
         top: 5vh;
     }
     #condi-1 {
         top: 70vw;
     }
     #condi-2 {
         top: 200vw;
     }
     #condi-3 {
         top: 330vw;
     }
     .fullwidth {
         width: 350px;
     }
     .bagwidth {
         width: 60vw;
     }
     .kapuwidth {
         width: 30vw;
     }
     .yentafowidth {
         width: 30vw;
     }
     .riecewidth {
         width: 10vw;
     }
     .yentafo {
         position: absolute;
         top: 25px;
         right: 12vw;
         width: 30vw;
     }
     .kapu {
         position: absolute;
         top: 30px;
         right: -30vw;
         width: 40vw;
     }
     .rice {
         position: absolute;
         top: 70px;
         right: -5vw;
         width: 30vw;
     }
     #bagcondi-2 {
         width: 200px;
         left: 10vw;
         height: 90vw;
         /* background-color: rgb(0, 26, 255); */
     }
     #textinfo_r_1 {
         font-size: 4vw;
     }
 }
 
 @media (max-width: 375px) {
     body {
         overflow-x: hidden!important;
     }
     .logo {
         margin-top: 6vw;
     }
     .logoimg {
         width: 15vh;
         left: 10vh;
     }
     .receipt {
         margin-top: 20vh;
         top: 5vh;
     }
     #condi-1 {
         top: 70vw;
     }
     #condi-2 {
         top: 200vw;
     }
     #condi-3 {
         top: 330vw;
     }
     .fullwidth {
         width: 350px;
     }
     .bagwidth {
         width: 60vw;
     }
     .kapuwidth {
         width: 30vw;
     }
     .yentafowidth {
         width: 30vw;
     }
     .riecewidth {
         width: 10vw;
     }
     .yentafo {
         position: absolute;
         top: 25px;
         right: 12vw;
         width: 30vw;
     }
     .kapu {
         position: absolute;
         top: 30px;
         right: -30vw;
         width: 40vw;
     }
     .rice {
         position: absolute;
         top: 70px;
         right: -5vw;
         width: 30vw;
     }
     #bagcondi-2 {
         width: 200px;
         left: 10vw;
         height: 90vw;
         /* background-color: rgb(0, 26, 255); */
     }
     #textinfo_r_1 {
         font-size: 4vw;
     }
 }
 
 @media (min-width: 576px) {
     body {
         overflow-x: hidden!important;
     }
     .logo {
         margin-top: 6vw;
     }
     .logoimg {
         width: 10vh;
     }
     .receipt {
         width: 50vw;
         top: 5vh;
     }
     #condi-1 {
         top: 50vw;
     }
     #condi-2 {
         top: 100vw;
     }
     #condi-3 {
         top: 150vw;
     }
     .fullwidth {
         width: 400px;
     }
     .bagwidth {
         width: 50vw;
     }
     .kapuwidth {
         width: 30vw;
     }
     .yentafowidth {
         width: 30vw;
     }
     .riecewidth {
         width: 10vw;
     }
     .yentafo {
         position: absolute;
         top: 50px;
         right: 5vw;
         width: 30vw;
     }
     .kapu {
         position: absolute;
         top: 30px;
         right: -40vw;
         width: 40vw;
     }
     .rice {
         position: absolute;
         top: 100px;
         right: -10vw;
         width: 35vw;
     }
     #bagcondi-2 {
         width: 200px;
         left: 10vw;
         height: 70vw;
         /* background-color: rgb(0, 26, 255); */
     }
 }
 /* // Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) {
     .logo {
         margin-top: 2vw;
     }
     .logoimg {
         width: 35vh;
     }
     .receipt {
         width: 30vw;
         top: 5vh;
     }
     #condi-1 {
         top: 20vw;
     }
     #condi-2 {
         top: 60vw;
     }
     #condi-3 {
         top: 90vw;
     }
     .fullwidth {
         width: 400px;
     }
     .bagwidth {
         width: 50vw;
     }
     .kapuwidth {
         width: 30vw;
     }
     .yentafowidth {
         width: 30vw;
     }
     .riecewidth {
         width: 10vw;
     }
     .yentafo {
         position: absolute;
         top: 100px;
         right: -3vw;
         width: 30vw;
     }
     .kapu {
         position: absolute;
         top: 50px;
         right: -50vw;
         width: 40vw;
         /* object-fit: none;
                    object-position: 100% 0; */
     }
     .rice {
         position: absolute;
         top: 200px;
         right: -20vw;
         width: 35vw;
     }
     #bagcondi-2 {
         width: 200px;
         left: 10vw;
         height: 60vw;
         /* background-color: rgb(0, 26, 255); */
     }
 }
 /* // Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) {}
 /* // Extra large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {}
 
 .logo {
     margin-top: 2vw;
 }
 
 .big-receipt {
     height: 300vh;
     position: relative;
     /* background-color: blue; */
 }
 
 .receipt {
     position: sticky;
     height: 120vh;
     /* width: 30vw; */
     /* background-color: blanchedalmond; */
 }
 
 #condi-1 {
     width: 5vh;
     left: 200px;
     height: 5vh;
     /* background-color: red; */
     position: absolute;
     z-index: 2;
 }
 
 #condi-2 {
     width: 5vh;
     left: 200px;
     height: 5vh;
     /* background-color: brown; */
     position: absolute;
     z-index: 2;
 }
 
 #condi-3 {
     width: 5vh;
     left: 200px;
     height: 5vh;
     /* background-color: rgb(0, 255, 21); */
     position: absolute;
     z-index: 2;
 }
 
 #RC-1 {
     display: none;
 }
 
 #RC-2 {
     display: none;
 }
 
 #RC-3 {
     display: none;
 }
 
 #RC-4 {
     display: none;
 }

 .modal-backdrop
 {
     opacity:0.7 !important;
 }

 #plusbtn1 {
     position: absolute;
     top: 0;
     right: 5vw;
     background: transparent; 
     border: none;
     opacity: 0;
     transition: 0.5s;
 }

 #plusbtn1:hover{
     transform: scale(1.2);
 }

 .big-receipt[data-scene="1"] #RC-1 {
     animation: baiset 0.7s;
     display: flex;
 }
 
 .big-receipt[data-scene="2"] #RC-2 {
     animation: baiset 0.7s;
     display: flex;
 }
 
 .big-receipt[data-scene="3"] #RC-3 {
     animation: baiset 0.7s;
     display: flex;
 }
 
 .big-receipt[data-scene="4"] #RC-4 {
     animation: baiset 0.7s;
     display: flex;
 }

 .big-receipt[data-scene="4"] #plusbtn1{
     opacity: 1;
 }
 
 .bigbag {
     position: relative;
 }
 
 .bag {
     position: absolute;
     width: 50vw;
     transition: all 0.5s;
     left: 25vw;
     z-index: 2;
 }
 
 #bagglass {
     left: 0%;
 }
 
 #bagglass[data-scene="1"] .bag {
     left: -80vw;
     transform: rotate(180deg);
 }
 
 .info1 {
     position: absolute;
     background-color: black;
     height: 230vw;
     width: 100%;
     left: 100%;
     /* top: 400vh; */
     transition: all 0.5s;
 }
 
 .info2 {
     position: absolute;
     background-color: black;
     height: 230vw;
     width: 100%;
     left: 100%;
     /* top: 400vh; */
     transition: all 0.5s;
 }
 
 .info3 {
     position: absolute;
     background-color: black;
     height: 230vw;
     width: 100%;
     left: 100%;
     /* top: 400vh; */
     transition: all 0.5s;
 }
 
 #infoimg {
     width: 40vw;
 }
 
 #infoimg2 {
     width: 20vw;
 }
 
 #infoimg3 {
     width: 20vw;
     margin-top: 3vw;
 }
 
 #infoimg4 {
     width: 20vw;
     margin-top: 3vw;
 }
 
 #infoimg5 {
     width: 18vw;
     margin-top: 3vw;
 }
 
 #infoimg6 {
     width: 15vw;
     margin-top: 3vw;
 }
 
 #infoimg7 {
     width: 15vw;
     margin-top: 3vw;
 }
 
 #infoimg8 {
     width: 15vw;
     margin-top: 3vw;
 }
 
 #infoimg9 {
     width: 12vw;
     margin-top: 3vw;
 }
 
 #textinfo_r_1 {
     position: absolute;
     top: 20vw;
     font-size: 2vw;
 }
 
 #textinfo_r_2 {
     position: absolute;
     top: 50vw;
 }
 
 #textinfo_r_3 {
     position: absolute;
     top: 76vw;
 }
 
 #textinfo_r_4 {
     position: absolute;
     top: 98vw;
 }
 
 #textinfo_r_5 {
     position: absolute;
     top: 127vw;
 }
 
 #textinfo_r_6 {
     position: absolute;
     top: 154vw;
 }
 
 #textinfo_r_7 {
     position: absolute;
     top: 176vw;
 }
 
 #textinfo_r_8 {
     position: absolute;
     top: 198vw;
 }
 
 #textinfo_r_9 {
     position: absolute;
     top: 213vw;
 }
 
 #back_but_R {
     margin-top: 2vh;
     width: 3vw;
 }
 
 .menufood[data-show="kapu"] .detail_kapu {
     left: 0%;
 }
 
 .menufood[data-show="yentafo"] .detail_yentafo {
     left: 0%;
 }
 
 .menufood[data-show="ricechicken"] .info1 {
     left: 0%;
 }
 
 .menufood[data-show="yentafo"] .info2 {
     left: 0%;
 }
 
 .menufood[data-show="kapu"] .info3 {
     left: 0%;
 }