#plusbtn2 {
    position: absolute;
    top: 0;
    right: 9vw;
    background: transparent;
    border: none;
    transition: 0.5s;
}

#plusbtn2:hover {
    transform: scale(1.2);
}

.tcontainer {
    position: relative;
    text-align: center;
    z-index: 100;
    opacity: 100;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lastp1reciept {
    color: red; 
    font-weight: bolder; 
    -webkit-text-stroke: 0.5px white; 
    font-size: 30px;
    display: block;
}

.lastp2reciept {
    color: red; 
    font-weight: bolder; 
    -webkit-text-stroke: 2px white;
    font-size: 80px;
}

.lastp3reciept {
    color: red; 
    font-weight: bolder; 
    -webkit-text-stroke: 2px white;
    font-size: 80px;
}


@media (max-width: 1280px) {
    #plusbtn2 {
        right: 11vw;
    }
}
@media (max-width: 1280px) {
    #plusbtn2 {
        right: 6vw;
    }
}
@media (max-width: 768px) {
    #plusbtn2 {
        right: -1vw;
    }
}
@media (max-width: 720px) {
    #plusbtn2 {
        right: 16vw;
    }
}
