#plusbtn3 {
    position: absolute;
    top: 0;
    right: 0vw;
    background: transparent;
    border: none;
    transition: 0.5s;
}

#plusbtn3:hover {
    transform: scale(1.2);
}

.tcontainer {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lastp1reciept {
    color: red;
    text-shadow: 2px 2px 4px #ffffff;
    font-weight: bolder;
    font-size: 40px;
    display: block;
}

.lastp2reciept {
    color: red;
    text-shadow: 2px 2px 4px #ffffff;
    font-weight: bolder; 
    font-size: 80px;
}

.lastp3reciept {
    color: red;
    text-shadow: 2px 2px 4px #ffffff;
    font-weight: bolder; 
    font-size: 80px;
}


@media (max-width: 1280px) {
    #plusbtn2 {
        right: 11vw;
    }
}
@media (max-width: 1280px) {
    #plusbtn2 {
        right: 6vw;
    }
}
@media (max-width: 768px) {
    #plusbtn2 {
        right: -1vw;
    }
}
@media (max-width: 720px) {
    #plusbtn2 {
        right: 16vw;
    }
}

#condi-but2 {
    width: 60px;
    height: 60px;
    top: 60vh;
    left: 20vh;
    /* background-color: red; */
    position: absolute;
}
.setreceipt[data-scene="0"] .lastp1reciept {
    transition: 0.7s;
    opacity: 0;
}

.setreceipt[data-scene="1"] .lastp1reciept {
    transition: 0.7s;
    opacity: 1;
}
.setreceipt[data-scene="0"] .lastp2reciept {
    transition: 0.5s;
    opacity: 0;
}

.setreceipt[data-scene="1"] .lastp2reciept {
    transition: 0.7s;
    transition-delay: 0.7s;
    opacity: 1;
}
.setreceipt[data-scene="0"] .lastp3reciept {
    transition: 0.5s;
    opacity: 0;
}

.setreceipt[data-scene="1"] .lastp3reciept {
    transition: 0.7s;
    transition-delay: 1.4s;
    opacity: 1;
}